<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
    			<meta http-equiv="X-UA-Compatible" content="IE=edge">
    			<meta name="viewport" content="width=device-width, initial-scale=1">
    			<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
			<meta name="author" content="Laurent Jégou">
    			<meta name="description" content="Maître de conférences à l'Université Toulouse-Jean-Jaurès<br/> LISST UMR 5193 CNRS
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/teaching">Teaching</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/edition">Edition</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jegou@univ-tlse2.fr">email</a></li>
	        		<li><a href="https://github.com/ljegou">github.com/ljegou</a></li>
				</ul>
			</footer>
		</body>
	</html>
